body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(rgb(203, 111, 66),rgb(224, 70, 137));
}
.Submain{
    background-color: rgb(47, 204, 204);
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 7px;
    width: 700px;
    height: 400px;
}
.main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;

}
p{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}